

.debug main{
    display: flex;
    height: calc(100vh - 75px);
}

.debug .sidebar{
    width: 150px;
    height: calc(100vh - 75px);
    display: inline-block;
}

.main-content{
    height: calc(100vh - 75px);
    width: calc(100vw - 150px);
    display: inline-block;
}

/***************************************/

:root{
    --blue: #051e34;
    --celest: #1B72E8;
}

.bg-sidebar{
    background-color: var(--blue);
}

.bg-new-student{
    background-color: var(--celest);
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
}

/*************************************
HEADER
*************************************/
.logo{
    height: 100%;
    width: auto;
}

.mobile-logo{
    height: 100%;
    width: 50px;
}

input{
    background-color: gray;
}

i{
    width: 20px;
}


/*************************************
Sidebar
*************************************/
.sidebar a{
    color: white;
}




@media (min-width: 576px) { ... }


@media (max-width: 768px) {
    .debug .sidebar{
        width: 68px;
    }

    .main-content{
        width: calc(100vw - 68px);
    }

    .sidebar a span{
        display: none;
    }
}


@media (min-width: 992px) { ... }


@media (min-width: 1200px) { ... }


@media (min-width: 1400px) { ... }